html {
    height: 100%;
}

body{

    margin: 0;
    padding: 0;
    position: relative;
}

.ali {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #195e75;
    background-image: url(kaliel.svg);
    background-position: top center;
    background-repeat: no-repeat;
}

.reza {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #363534;
    text-align: center;
    color:#9C9B9B;
    font-weight: 800;
    letter-spacing: 3px;
    font-family: "LFT Etica Extra Bold","HelveticaNeueBold","HelveticaNeue-Bold","Helvetica Neue Bold","HelveticaNeue","Helvetica Neue",Arial,Helvetica,sans-serif;
      font-size: 3em;
      padding: 1rem 0;
}